/* Start Full Stack Web Developer Section */
#courses-body{
    padding-top: 150px;
}

#course-outline-header {
    font-family: Titillium;
    font-size: 45px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #343d42;
    margin-bottom: 48px;
  }


/* End Full Stack Web Developer Section */