<!-- Start Footer -->
<footer id="footer-box" class="page-footer font-small pt-4">
	<!-- Footer Links -->
	<div id="footer-background" class="container-fluid text-center text-md-left">
		<!-- Footer links -->
		<div class="container footer-content">
			<div id="footer-page" class="row text-center text-md-left mt-3 pb-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold footer-headings">
						General
					</h6>
					<p>
						<a class="footer-link" href="index.html">Home</a>
					</p>
					<p>
						<a
							class="footer-link"
							href="https://themavenacademy.one/faq/"
							target="_blank"
							>Faq</a
						>
					</p>
				</div>
				<!-- Grid column -->

				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold footer-headings">
						WHY US
					</h6>
					<p>
						<a
							class="footer-link"
							href="https://themavenacademy.one/why-us/"
							target="_blank"
							>Why Study with us?</a
						>
					</p>
					<p>
						<a
							class="footer-link"
							href="https://themavenacademy.one/financial-aid/"
							target="_blank"
							>Financial Aid - Study for Just R1</a
						>
					</p>
					<p>
						<a
							class="footer-link"
							href="https://themavenacademy.one/internship-programme/"
							target="_blank"
							>Internship - Work, Learn &amp; Earn</a
						>
					</p>
				</div>
				<!-- Grid column -->

				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold footer-headings">
						DEVELOPER COURSES
					</h6>
					<p>
						<a class="footer-link" href="#courses">Full Stack Web Developer</a>
					</p>
					<p>
						<a class="footer-link" href="#courses"
							>Front End Web Fundamentals</a
						>
					</p>
				</div>

				<!-- Grid column -->
				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold footer-headings">
						CONTACT US
					</h6>
					<div class="address">
						<ul class="address-list">
							<li>
								<span>
									<img
										class="f-icon"
										src="\assests\images\phone-icon.svg"
										alt="Phone"
								/></span>
								<a href="tel:+27 21 461 68 17" class="footer-link f-size"
									>+27 21 461 68 17</a
								>
							</li>
							<li>
								<span
									><img
										class="f-icon"
										src="\assests\images\email-icon.svg"
										alt="Email"
								/></span>
								<p>
									<a
										class="footer-link link"
										href="mailto:hello@themavenacademy.one"
										>hello@themavenacademy.one</a
									>
								</p>
							</li>
							<li class="mb-0">
								<span
									><img
										class="f-icon"
										src="\assests\images\location-icon.svg"
										alt="Location"
								/></span>
								<p>
									<a
										class="footer-link"
										href="https://www.google.com/maps/place/Maven+Academy/@-33.9841523,18.4705138,15.58z/data=!4m8!1m2!2m1!1sOffice+F01A,+Brookside+Office+Park,+11+Imam+Haron+Road,+Claremont,+Western+Cape,+7708!3m4!1s0x1dcc42d744bfffff:0x11e36a6814254aac!8m2!3d-33.9828575!4d18.4701694"
										>Office F01A, Brookside Office Park, 11 Imam Haron Road,
										Claremont, Western Cape, 7708</a
									>
								</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- Grid column -->
			</div>
		</div>
		<!-- Footer links -->

		

		<!-- Start bottom footer -->
		<div class="footer-block">
			<div class="container">
				<div id="footer-bottom" class="row d-flex align-items-center">
					<!-- Grid column -->
					<div class="col-md-7 col-lg-8">
						<!--Copyright-->
						<p class="text-center text-md-left">
							by Sharon T. Litye
							<a href="https://themavenacademy.one/">
								<strong> All Rights Reserved, Maven Academy (Pty) Ltd.</strong>
							</a>
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-5 col-lg-4 ml-lg-0">
						<!-- Social buttons -->
						<div class="text-center text-md-right">
							<ul class="list-unstyled list-inline">
								<li class="social-link list-inline-item">
									<a
										href="https://web.facebook.com/The-Maven-Academy-108366197273447/?modal=admin_todo_tour"
										target="_blank"
										class="d-flex justify-content-center"
									>
										<img
											src="\assests\images\facebook.svg"
											alt="Facebook Link"
										/>
									</a>
								</li>
								<li class="social-link list-inline-item">
									<a
										href="https://twitter.com/AcademyMaven"
										target="_blank"
										class="d-flex justify-content-center"
									>
										<img src="\assests\images\twitter.svg" alt="Twitter Link" />
									</a>
								</li>
								<li class="social-link list-inline-item">
									<a
										href="https://www.instagram.com/themavenacademysa/"
										target="_blank"
										class="d-flex justify-content-center"
									>
										<img
											src="\assests\images\instagram.svg"
											alt="Instagram Link"
										/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Grid column -->
				</div>
			</div>
		</div>

		<!-- End bottom footer -->
	</div>
	<!-- Footer Links -->
</footer>
<!-- End Footer -->
